.alert-box {
    position: fixed;
    left: 15%;
    right: 15%;
    top: 15%;
    bottom: 15%;
    border: black solid;
    background: white;
    display: flex;
    flex-direction: column;
}
.alert-box-ie {
    position: absolute;
}
.alert-box .title {
    color: white;
    background: gray;
    font-weight: 500;
    align-items: flex-start;
    padding: 2px;
}
.alert-box-ie .title {
    height: 22px;
}
.alert-box .title span {
    padding-left: 5px;
    float: left;
}
.alert-box .x {
    background: red;
    color: white;
    float: right;
}
.alert-box .description {
    flex: 1;
    margin: 5px;
    overflow: auto;
}
.prompt-box {
    border: black solid;
    padding: 5px;
    background: white;
    top: 25%;
    max-height: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}
.prompt-box * {
    margin: 5px;
}
.prompt-box .description {
    text-align: center;
    overflow-y: auto;
}
.prompt-box .yesno {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
